extends layout

block content
  .container
    .header
      .header-title
        h2 Demo Application
  .panel
    .panel-header
      center
        h3 Links
      |
      .panel-body
        .login-form
          .control-box
            span User Homepage :
            |
            span
              a(href='/userhome') Go to your home page.
            |
