doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script if (document.URL.indexOf("dosign") > 0) {document.location="https://iag.iamlab.ibm.com/pkmsoidc?iss=default&login_hint=%7B%22realm%22%3A%22verifyaccess%22%7D"}
  body
    .container
      .header
        .header-title
          h2 Login Choice
    .panel.mtm
      .panel-header
        center
          h3 Choose your Identity Provider
        |       
        .panel-body
          .login-form
            .control-box
              span
                a(href='https://iag.iamlab.ibm.com/pkmsoidc?iss=default&login_hint=%7B%22realm%22%3A%22verifyaccess%22%7D') IdP 1
              
