extends layout
block content
    .container
      .header
        .header-title
          h2 #{title}
    .panel.mtm
      .panel-header
        center
          h3 Success
        |       
        .panel-body
          .login-form
            .control-box
              span #{message}
                   |             
