# This file contains environment-specific properties to be referenced in
# IAG configurations.

# In Docker, all these are passed directly as environment variables.

# In OpenShift:
#   Properties starting with S_ will be created in iag Secret in Openshift
#   Other properties will be created in iag configMap in OpenShift
# All are then loaded into environment variables.

############################
# Common

# Discovery endpoint for OIDC
OIDC_DISCOVERY_ENDPOINT=https://xxxxx.verify.ibm.com/oidc/endpoint/default/.well-known/openid-configuration

# Client ID for OpenID Connect
OIDC_CLIENT_ID=

# Client Secret for OpenID Connect
S_OIDC_CLIENT_SECRET=

#############################
# Demo App SSO

# Demo Application Hostname (for junction creation)
# DEMOAPP_HOSTNAME=192.168.42.42

# Demo Application Port (for junction creation)
# DEMOAPP_PORT=1443

# Demo Application BA Password for trust basis
# S_DEMOAPP_BASIC_PW=something-hard-to-guess
