html {
  min-height: 100%;
}

body {
  background: linear-gradient(to bottom right, #1567b9, #baecc7);
}

ul {
  list-style-type: none;
}

.panelqr {
  border-radius: 15px;
  background-color: white;
  width: 340px;
  height: 400px;
  float: right;
  margin-top: 50px;
}

.panellogin {
  margin-right: 350px;
  border-radius: 15px;
  background-color: white;
  margin-top: 50px;
  height: 400px;
}

.header {
  border-bottom: 1px solid #a6bff5;
  min-height: 100px;
  width: 100%;
}

.header-title {
  float: left;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
  font-size: 25px;
}

.header-nav {
  float: right;
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin-top: 70px;
}

.header-nav-item {
  display: inline-block;
  margin-left: 20px
}

.header-nav-item.active {
  border-bottom: 3px solid white;
}

.panel {
  border-radius: 15px;
  background-color: white;
  width: 100%;
  margin-top: 50px;
}

.panel-header {
  border-bottom: 1px #0072b0 solid;
  padding: 20px;
}

.panel-body {
  width: 100%;
}

.panel-footer {
  width: 100%;
  min-height: 40px;
}

.login-form {
  width: 90%;
  margin: 20px auto;
}

.control-box {
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  margin-bottom: 20px;
  min-height: 50px;
  line-height: 50px;
}

.control-box input {
  border: none;
  height: 50px;
  width: 80%;
}

input:focus,
input {
  outline: none;
}

.control-box span {
  padding-left: 20px;
  margin-right: 30px;
}

.login-form input[type="text"]::placeholder {
  color: #5ba1d2;
}

.login-form input[type="password"]::placeholder{
  font-style: italic;
}

a{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    padding: 10px;
}

td:first-child {
    width: 200px;
}

td:hover {
  white-space: normal;
  word-break: keep-all;
  word-wrap: break-word;
  overflow:visible;
}
td {
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    border-collapse: collapse;
    border: 1px solid black;
    padding: 10px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.top-right {
  position: absolute;
  top: 10px;
  right: 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: white;
}

.top-right a {
  padding-right: 10px;
}
